<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>UGERevue</h1>

    <p>Mot de passe oublié</p>

    <form method="post">
        <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" placeholder="Entrer l'adresse email de récupération">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Valider</button>
            </div>
        </div>
    </form>

    <div th:if="${success != null}">
        <div th:if="${success}">
            Email de récupération du compte envoyé sur votre adresse email
        </div>
        <div th:unless="${success}">
            L'email ne correspond à aucun compte
        </div>
    </div>

</div>

</body>
</html>