<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>UGERevue</h1>

    <p>Mot de passe oublié</p>

    <form method="post">
        <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Entrer le nouveau mot de passe">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Valider</button>
            </div>
        </div>
    </form>

    <p th:if="${passwordError}" th:text="${passwordError}"></p>
</div>

</body>
</html>