<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="container">
    <h1>UGERevue</h1>

    <ul class="list-group">
        <li th:each="review : ${likedReviews}" class="list-group-item position-relative">
            <div class="row">
                <a th:href="@{'/reviews/' + ${review.getId()}}" class="col-9">
                    <div>
                        <p th:text="${review.getTitle()}"></p>
                    </div>
                </a>


                <div class="col-3" style="text-align:end;">
                    <a th:href="@{'/users/' + ${review.getAuthor().getId()}}">
                        <p th:text="${review.getAuthor().getUsername()}"></p>
                    </a>
                    <p th:text="${review.getDate()}"></p>
                </div>
            </div>
        </li>
        <li th:each="comment : ${likedComments}" class="list-group-item position-relative">
            <div class="row">
                <div class="col-9">
                    <a th:href="@{'/reviews/' + ${comment.getReview().getId()} + '#comment_' + ${comment.getId()}}" th:text="${comment.getContent()}"></a>
                </div>
                <div class="col-3">
                    <div class="row-6" style="text-align:end;">
                        <a th:href="@{'/users/' + ${comment.getAuthor().getId()}}" th:text="${comment.getAuthor().getUsername()}"></a>
                    </div>
                    <div class="row-6" style="text-align:end;">
                        <span th:text="${comment.getDate()}"></span>
                    </div>
                </div>
            </div>
        </li>
        <li th:each="response : ${likedResponses}" class="list-group-item position-relative">
            <div class="row">
                <div class="col-9">
                    <a th:href="@{'/reviews/' + ${response.getComment().getReview().getId()} + '#response_' + ${response.getId()}}" th:text="${response.getContent()}"></a>
                </div>
                <div class="col-3">
                    <div class="row-6" style="text-align:end;">
                        <a th:href="@{'/users/' + ${response.getAuthor().getId()}}" th:text="${response.getAuthor().getUsername()}"></a>
                    </div>
                    <div class="row-6" style="text-align:end;">
                        <span th:text="${response.getDate()}"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>