<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <h1>UGERevue</h1>

    <h2>Se connecter</h2>

    <form method="post" class="mb-5">
        <div th:if="${param.error}" class="alert alert-danger">
            Invalide nom d'utilisateur ou mot de passe
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </span>
                </div>
                <input type="text" name="username" class="form-control" id="username" placeholder="Entrer le nom d'utilisateur">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                        </svg>
                    </span>
                </div>
                <input type="password" name="password" class="form-control" id="password" placeholder="Entrer le mot de passe">
            </div>
        </div>
        <div class="form-group mb-3">
            <a th:href="@{/resetPassword}">Mot de passe oublié</a>
        </div>
        <div class="form-group mb-3">
            <a th:href="@{/signup}">Créer un compte</a>
        </div>
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
</div>

</body>
</html>