<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="container">
    <h1>UGERevue</h1>

    <ul class="list-group">
        <li th:each="response : ${responses}" class="list-group-item position-relative">
            <div class="row">
                <div class="col-9">
                    <a th:href="@{'/reviews/' + ${response.getComment().getReview().getId()} + '#response_' + ${response.getId()}}" th:text="${response.getContent()}"></a>
                </div>
                <div class="col-3">
                    <div class="row-6" style="text-align:end;">
                        <a th:href="@{'/users/' + ${response.getAuthor().getId()}}" th:text="${response.getAuthor().getUsername()}"></a>
                    </div>
                    <div class="row-6" style="text-align:end;">
                        <span th:text="${response.getDate()}"></span>
                    </div>
                </div>
            </div>
        </li>
        <div class="d-flex justify-content-between">
            <a th:href="@{'/users/' + ${userId} + '/responses?pageNumber=' + ${pageNumber - 1} + '&pageSize=' + ${pageSize}}" class="btn btn-secondary">Précédent</a>
            <a th:href="@{'/users/' + ${userId} + '/responses?pageNumber=' + ${pageNumber + 1} + '&pageSize=' + ${pageSize}}" class="btn btn-secondary">Suivant</a>
        </div>
    </ul>
</div>

</body>
</html>