<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>UGERevue</h1>

    <p th:if="${authenticated}">Connected</p>

    <form method="post">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <ul class="list-group">
        <li th:each="review : ${reviews}" class="list-group-item position-relative">
            <a th:href="@{'/reviews/' + ${review.id()}}" th:text="${review}" class="stretched-link"/>
        </li>
    </ul>
</div>

</body>
</html>