<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UGERevue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="container">
    <h1>UGERevue</h1>

    <p th:if="${authenticated}">Connected</p>

    <form method="post">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <ul th:if="${authenticated}" class="list-group mb-3">
        <li th:each="notification : ${notifications}" class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center">
            <form th:action="@{'/notifications/' + ${notification.getId()} + '/markAsRead'}" method="post" class="me-3">
                <button type="submit" class="btn-close" aria-label="Close"></button>
            </form>
            <form th:action="@{'/notifications/' + ${notification.getId()} + '/markAsRead/redirect'}" method="post" class="position-relative">
                <button type="submit" class="stretched-link btn btn-link" th:text="${notification}"></button>
            </form>
        </li>
    </ul>

    <ul class="list-group mb-3">
        <li th:each="review : ${reviews}" class="list-group-item position-relative">
            <div class="row">
                <a th:href="@{'/reviews/' + ${review.id()}}" class="col-9">
                    <div th:text="${review.title()}"></div>
                </a>
                <div class="col-3" style="text-align:end;">
                    <a th:href="@{'/users/' + ${review.author().id()}}" th:text="${review.author().username()}"></a>
                    <p th:text="${review.date()}"></p>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>